// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.hiddenConditions {
    display: none !important;
}

.profScore {
    background-color: darkslategray;
  }

  body {
      background-color: red;
  }