// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    color: #168DD6;
    font-family: 'Lato', sans-serif;    
    width: 99vw;   
    background-image: linear-gradient(180deg, rgba(179,231,250,1) 0%, rgba(255,255,255,1) 50%);
}
html {
  min-height: 100vh;
}
.loginMainBody {
    background-image: linear-gradient(180deg, rgba(179,231,250,1) 0%, rgba(255,255,255,1) 50%);
    font-weight: 200;
}
.resourceBody {
  background-image: linear-gradient(180deg, rgba(179,231,250,1) 0%, rgba(179,231,250,1) 0%);
  min-height: 100vh;
}
.mainMenuIcons {
  position: fixed;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 60%;
}

.stickyHeader {
  position: sticky; 
  top:0; 
  padding-left: 30px; 
  position: -webkit-sticky; 
  z-index: 500;
  background-color: rgb(218 243 252 / 80%);
  padding-bottom: 20px;
}
.stickyHeaderEmotion {
  position: sticky; 
  top:0; 
  padding-left: 30px; 
  position: -webkit-sticky; 
  z-index: 500;
  background-color: rgb(219 243 252 / 80%);
  padding-bottom: 20px;
}
a:hover {
    text-decoration: none;
}
.full-height {    
    background-color: #31A1DC;
    height: 120vh;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.content {
    text-align: center;
}
.title {
    font-size: 84px;
}
.m-b-md {
    margin-bottom: 30px;
}
.loginFormInput {
    border: 2px solid #168DD6;
    border-radius: 50px;
    line-height: 30px;
}
.loginButton {
    border-radius: 50px;
    font-size: 20px;
    background-color: #344EA9 !important;
    border: none;
}
.loginButtonOutline {
  border-radius: 50px;
  font-size: 20px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #168DD6 !important;
    opacity: 1; /* Firefox */
    font-size: 20px;
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #168DD6 !important;
    font-size: 20px;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #168DD6 !important;
    font-size: 20px;
  }
  .registerText {
    font-size: 20px;
    color: #168DD6;
  }
  .registerTextSmall {
    font-size: 15px;
    color: #168DD6;
  }
  .registerInputBoxes {
      border: none;
      background-color: #EFF9FE;
      border-radius: 10px;
      font-size: 20px;
      color: #168DD6;
  }
  .registerInputRadio {
    width: 30px;
    height: 30px;
  }
  .registerInputRadioSmall {
    width: 20px;
    height: 20px;
  }
  .registerIllness {
    border: 1px solid #168DD6;
    border-radius: 30px;
  }
  .plus {
      font-size: 95px;
      line-height: 0.7;
      color: #168DD6;
      font-weight: 600;
  }
  .userInstruction {
    background-color: #EFF9FE;
    border-radius: 5px;
    font-size: 20px;
    color: #344EA9;
    padding: 20px;
  }
  .summaryInstruction {
    background-color: #EFF9FE;
    border-radius: 5px;
    font-size: 20px;
    color: #344EA9;   
    padding: 20px; 
  }
  .addEmotion {
    border: none;
      background-color: #EFF9FE;
      
      font-size: 20px;
      color: #168DD6;
  }
  .homeScreenIcons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
  }
  .emotionCircle {
    height: 100px;
    width: 100px;
    background-color: #40ADE0;
    border-radius: 50%;
    display: inline-block;
    color:#EFF9FE;
    padding-top: 38px;
  }
  .emotionCircleSelected {
    height: 100px;
    width: 100px;
    background-color: #344EA9;
    border-radius: 50%;
    display: inline-block;
    color:#EFF9FE;
    padding-top: 38px;
  }
  .noteInputBox {
    border-radius: 20px;
    border: none;
    font-size: 20px;
    color: #168DD6 !important;
  }
  .noteInputBoxBorder{
    border-radius: 20px;
    border: 1px solid #168DD6;
    font-size: 20px;
    color: #168DD6 !important;
  }
  .summaryText {
    font-weight: 800;
    color: #344EA9;
    font-size: 20px;
  }
  .sliderBarLarge {
    background-image: linear-gradient(90deg, rgba(52,78,169,1) 0%, rgba(64,172,223,1) 50%);
    height: 45px;
  }
  .slider {
    background-color: #fff;
    width: 20px;
    height: 50px;
    border-radius: 10px;
    position: relative;
    bottom: 2px;
}

  .scoreCircle {
    height: 70px;
    width: 70px;
    background-color: #40ADE0;
    border-radius: 50%;
    display: inline-block;
    color:#344EA9;
    padding-top: 5px;
    font-size: 2.25rem;
  }
  .darkText {
    color: #344EA9;
  }
  .chartBorder {
    background-color: white;
    border-radius: 30px;
  }
  .summaryPills {
    background-color: white;
    border-radius: 60px;
    height: 70px;
    padding-top: 5px;
  }
  .scoreLargeFont {
    color: #40ADE0;
    font-size: 30px;
  }
  .smallCircle {
    height: 55px;
    width: 55px;
    background-color: #40ADE0;
    border-radius: 50%;
    display: inline-block;
    color:#EFF9FE;
    margin-top: 3px;
    margin-right: 20px;
    padding-top: 3px;
  }
  .select2-container {
    background-color: #40ADE0;
  }
  .select2-choices {
    min-height: 150px;
    max-height: 150px;
    overflow-y: auto;
  }

  .emotionCheckBox {
    cursor: pointer;
    input {
      display: none;
    }
  }

  .alert {
    border-radius: 1.25rem;
  }
  .modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}

.listButton {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: block
}
.disabledLink {
    color: #98c5eb;
}
.disabledLink:hover {
    color: #98c5eb;
}

.userSelectionBox {
  background-color: #344EA9;
  border-radius: 20px;
  color: white;
}

//SIDE BAR
.linkList {
  list-style-type:none
}
 #wrapper {
  overflow-x: hidden;
}

.sideMenu {
  position: absolute;
  right: 0;
  padding-top: 20px;
  background-color: #344EA9;
  height: 100%;
  z-index: 50;
  color: #B3E7FA;
  a {
    color: #B3E7FA;
  }
}

.sideMenuList {
  list-style-type: none;
}

#sidebar-wrapper {
min-height: 100vh;
margin-left: -15rem;
-webkit-transition: margin .25s ease-out;
-moz-transition: margin .25s ease-out;
-o-transition: margin .25s ease-out;
transition: margin .25s ease-out;
background-color: #344EA9;
}

#sidebar-wrapper .sidebar-heading {
padding: 0.875rem 1.25rem;
}

#sidebar-wrapper .list-group {
width: 15rem;
}

.resourceMenuItem {
  background-color: #344EA9;
  overflow-y: scroll;
  height: 100vh;
  a {
    color: white !important;
    font-size: 15px;
  }
  a:hover {
    color:  #B1E2F5 !important;
  }
}
.resourceMenuItem::-webkit-scrollbar {
  display: none;
}

#page-content-wrapper {
min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
margin-left: 0;
}

.fixed-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background-color: #344EA9;
  z-index: 99;  
}

.js-toggle-fixed-sidebar {
  display: none;
}



.js-close-fixed-sidebar {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  display: none;
  padding: 10px;
  font-size: 30px;
}
.shadow {
  -moz-box-shadow:    2px 2px 5px rgb(34, 34, 34);
  -webkit-box-shadow: 2px 2px 5px rgb(34, 34, 34);
  box-shadow:         2px 2px 8px #222222 !important;
}

//profile
.profileBoxLeft{
  border: 3px solid #344EA9;
  border-radius: 20px;
  // margin-left: 69px;
}
.profileBoxRight{
  border: 3px solid #344EA9;
  border-radius: 20px;
  // margin-left: 50px;
}

.resourceSquare {
    width: 30%;
    height: 315px;
    background: rgba(255,255,255, 0.7)
}
.resourceRowLayout {
  padding-left: 3.5rem !important;
}

.trackValueWording {
  font-size: 1.575rem;
  color: #344EA9;
}

.profileText {
  font-size: 1.35rem;
}


@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }

}

@media screen and (max-width: 740px) {
  .fixed-sidebar {
    left: -260px;
  }

  .fixed-sidebar.open {
    left: 0;
  }

  .js-toggle-fixed-sidebar {
    display: block;
  }

  

  .js-close-fixed-sidebar {
    display: block;
  }

  .emotionCircle {
    height: 80px;
    width: 80px;
    background-color: #40ADE0;
    border-radius: 50%;
    display: inline-block;
    color:#EFF9FE;
    padding-top: 30px;
    font-size: 12px;
  }

  .emotionCircleSelected {
    height: 80px;
    width: 80px;
    background-color: #344EA9;
    border-radius: 50%;
    display: inline-block;
    color:#EFF9FE;
    padding-top: 30px;
    font-size: 12px;
  }

  .registerText {
    font-size: 18px;
    color: #168DD6;
  }

  .profileBoxLeft .profileBoxRight {
    h4 {
      font-size: 1rem !important;
    }
  }

  .homeScreenIcons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;    
  }
  .homePageHeaderText {
    font-size: 1.3rem;
  }

  .resourceSquare {
    width: 45%; 
    height: 162px;
    display: flex;
    align-items: center; 
    justify-content: center;
  }

  .resourceLink {
    font-size: 1rem;
  }
  .resourceRowLayout {
    padding-left: 1.9rem !important;
  }

  .trackValueWording {
    font-size: 1.375rem;
    color: #344EA9;
  }
  .noteInputBox {
    height: 50% !important;
  }

  .inputBoxWrapper {
    height: 300px;
  }

  .full-height {
    height: 145vh;
  }

  .fc-content span {
    display:block;
    visibility: hidden;
  }
  .fc-title::first-letter {  
    visibility: visible;    
  }

  .summaryHeaders {
    font-size: 1rem;
  }

  .scoreCircle {
    height: 70px;
    width: 70px;
    background-color: #40ADE0;
    border-radius: 50%;
    display: inline-block;
    color: #344EA9;
    padding-top: 11px;
    font-size: 1.75rem;
  }

  .trackValueWordingSmall {
    font-size: 1.175rem;
  }

  .fixed-row-bottom { 
    position:fixed;
    bottom:0;
    width:100%;
  }

  .profileText {
    font-size: 1rem;
  }

}
